@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
  --color-black: #00000a;
  --color-white: #f1f1f1;
  --color-green: #00CCB4;
  --color-darkGreen: #009483;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
  font-family: 'Comfortaa', cursive;
}
body{
  background-color: var(--color-black);
}